body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
.banner{
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    
}
h1{
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    color: white;
}
p{
    text-align: center;
    font-size: 15px;
    color: white;
    
}
.botton{
    text-decoration: none;
    padding: 10px 40px;
    background-color: #fc634c;
    color: black;
    border-radius: 5px;
    margin-left: 45%;
    margin-bottom: 20px;
}
.botton a{
    text-align: right;
}